

body{
    margin:0;
    background-color: #FAFAFA;
    font-family: Calibri;
    color: #333;
    width: 100%;

}

.row{
    width: 100%;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.wrapper:after {
content: "";
    display: block;
    clear: both;
}

.greyback {
    background-color: #E0E0E0 !important;
    /*position:fixed;*/
    top: 0px;
    margin: 0px auto;
}

.blackback {
    background-color: #333 !important;
    /*position:fixed;*/
    top: 0px;
    margin: 0px auto;
}
nav .logo {
    float: left;
}

nav ul li{
    list-style: none;
    margin-left: 0px;
    display: inline;
    width: 10%;
    padding: 0px;
    background-color:#333 ;
}
nav ul li a{
    text-decoration: none;
    color: #E0E0E0;
    padding:  30px;
    padding-bottom: 16px;
    padding-top: 20px;
}

nav ul li a:hover {
    background-color: #01579B;
    color:#E0E0E0 ;

}

nav .menu{
    float: left;
    margin-top: 20px;
}


nav .login{
    float: right;
    margin-top: 20px;
    font-weight: bold;
}

div .logout{
    color: #E0E0E0;
}

nav .logout{
    float: right;
    margin-top: 20px;
    font-weight: bold;
    display: inline;
}

nav.menu  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

#main_banner , #main_banner img{
width: 100%;
    margin-top:20xx
  }

form input[type=text]{
    width: 100%;
    height: 30px;
    padding: 12px 5px;
    margin: 5px 0;
    box-sizing: border-box;
}
form input[type=email]{
    width: 100%;
    height: 30px;
    padding: 12px 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

form select{
    width: 100%;
    height: 30px;
    /*padding: 12px 5px;*/
    margin: 5px 0;
    box-sizing: border-box;
}

div .form  {
    max-width: 10px;
    margin: auto;
}

.row2  {
    width: 100%;
    height: 170px;
    bottom: 0px;
}

div ul {
    list-style: none;
    display: inline-block;
    margin-left: 7px;
    margin-top: 0px;
    float: left;
}

.login-form{
    width: 250px;
    display: block;
    margin: 0 auto;
}
 .post table tr td{
     margin-right: 50px ;
 }
.layout h3 {
     margin: 0px 0px;
     padding: 0px 0px;
     background-color:#01579B ;
    color: #E0E0E0;
 }

.layout{
width: 100%;
}

.button {
    background-color: #01579B;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
}
.button2 {
    background-color: #C62828;
    font-weight: bold;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    width: 50%;

.download {
    background-color: #01579B;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
}

.post {
    width: 50%;
    vertical-align: middle;
}

.postth {
    background-color: #01579B;
    width: 200%;
    float: left;
}


